<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script charset="utf-8" src="/javascripts/jquery.js"></script>
    <script charset="utf-8" src="/javascripts/form.jquery.js"></script>
    <script charset="utf-8" src="/javascripts/curves.js"></script>
    <script charset="utf-8" src="/javascripts/slidercalc.js"></script>
    <script charset="utf-8" src="/javascripts/osu.js"></script>
    <script charset="utf-8" src="/javascripts/parser.osu.js"></script>
  </head>
  <body>
  </body>
</html>
